doctype html
html
  head
    meta(charset="utf-8")
    title #{metaData.title}
    meta(name="description" content="#{metaData.description}")
    meta(name="keywords" content="#{metaData.keywords}")
  body(data-controller="#{route.controller}" data-action="#{route.action}" data-view="#{route.view}" data-renderer="#{route.renderer}" data-rendered-view="#{route.renderedView}" data-show="#{route.show}" data-task="#{route.task}" data-type="#{route.type}" data-mode="#{config.citizen.mode}")
    main
      h1 #{main.header}
      p #{main.text}
