//- Template for error code ENOENT (caused by trying to read a folder or file that doesn't exist)

doctype html
html
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title D'oh!
  body(data-controller="#{route.controller}" data-action="#{route.action}" data-view="#{route.view}" data-renderer="#{route.renderer}" data-rendered-view="#{route.renderedView}" data-show="#{route.show}" data-task="#{route.task}" data-type="#{route.type}" data-mode="#{config.citizen.mode}")
    main
      h1 File read error
      p The attempt to read or write the following file failed because the file (or possibly the directory) doesn't exist:
      pre
        code
          = error.raw.path
      p The complete error follows:
      pre
        code
          = error.inspect
